/*
	navigation.css		1.1.1
	Please use the CSS Menu Button Wizard at
		http://www.thesitewizard.com/wizards/css-menu-buttons.shtml
	to generate your own customized menu buttons.
*/

#navigation ul {
	margin: 0 ;
	padding: 0 ;
	list-style: none ;
	display: inline ;
}
#navigation ul li {
	margin: 0 ;
	padding: 0 ;
	display: inline ;
	text-align: center ;
	list-style: none ;
	font-family: inherit ;
}
#navigation li a {
	color: #ffffff ;
	background-color: inherit ;
	padding: 0.5em ;
	text-decoration: none ;
	display: inline ;
}
#navigation li a:hover {
	color: #dcdcdc ;
	background-color: inherit ;
}
div#menuicon {
	width: 2em;
	height: auto;
	/* display: hidden; */
	background-image: url("menu-icon.png");
}


@media screen and (max-width : 481px) {
	navigation.menuicon {
		width: 2em;
		height: auto; 
		display: inline;
		background-image: url("menu-icon.png");
	}

	/* #navigation ul, nav:active ul { 
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
	}

	#navigation li {
		text-align: center;
		width: 100%;
		padding: 0.2em 0;
		margin: 0;
	}

	nav:hover ul {
		display: block;
	} */
	/* 

	a:hover#menu-icon {
		background-color: inherit;
		border-radius: 4px 4px 0 0;
	} */
}
